/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
/* base style */
body{
    font-family: 'Poppins', sans-serif;

}
main{

 
}

.banner{
    display: flex;
    width: 1000px;
    align-items: center;
    border: 1px solid black;
    margin: 21px 80px 30px;
    border-radius: 30px;
    background-color: hsl(0, 0%, 0%);
    }
.banner img{
    width:350px;
height: 414px;
}
h2{
    font-size: 40px;
    color: wheat;
    margin-left: 10px;
}
.description{
    font-size: 15px;
    color: wheat;
    font-style: italic;
    margin-left: 10px;
}
.link{
    font-size: 18px;
    width: 150px;
    margin-top: 50px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: red;
}
.link a{
    text-decoration: none;
    color: whitesmoke;
}
/* players style */

.players{
    display: flex;
    
}
.player{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-top: 25px;
    
}

/* player card style*/
.box{
    border: 1px solid lightgray;
    margin-bottom: 25px;
    border-radius: 15px;
}
/* Form style */
.form{
    border: 2px solid black;
    height: 240px;
    margin: 20px;
    border-radius: 5px;
    background-color: black;
    
}
.input-style{
    text-align: center;
    width: 150px;
    font-size: 14px;
    color: black;
    font-weight: 700px;
    padding: 10px;
    margin: 20px 15px 15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}
.Blog{
    background-color: red;
    color: white;
}

    

    
        
