/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

/* base style */
body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
padding: 0 100px;
}
section{
    margin-bottom: 50px;

}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1321px;
    align-items: center;
    border-radius: 30px;
    background-color: hsl(0, 0%, 0%);
}
.banner img{
    display: block;
    width:350px;
height: 414px;
}
h2{
    font-size: 2em;
      margin-left: 10px;
      color: wheat;
    margin-left: 10px;
}
.description{
    font-size: 15px;
    color: wheat;
    font-style: italic;
}
.link{
    font-size: 18px;
    color: white;
    background-color: red;
    width: 120px;
    padding: 8px;
}
.link a{
    text-decoration: none;
    color: whitesmoke;
}
/* Menu style */
.menu{
    width: 312px;
    height: 312px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #161616;
    border-radius: 10px;
}
.menu-button{
    justify-content: center;
    text-align: center;
    margin: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.menu a{
    text-decoration: none;
    color: white;
}
.red{
    background-color: red;
}

.play-time{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px ;
    
}
.flag-section{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    
    
    
}
.flag-time{
    border: 1px solid lightgrey;
    
}